@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
    overflow-x: auto;
}
.homepage{    
    background: linear-gradient(to top,     
            rgb(90, 41, 112),
            rgba(80, 27, 105, 0.55),
            rgb(157, 72, 196,0.25),
            rgba(255,255,255,1));
}
.homepage-content{
    padding-left: 7vw;
    padding-right: 7vw;
}
.carousel-indicators{
    top: 28vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.nav-option-color{
    color: rgb(0, 230, 230);
    font-weight: 500;
}
.navbar-nav .nav-link:hover {
    color: white; /* Remove hover color */
    background-color: transparent !important; /* Remove hover background */
}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.585);
    backdrop-filter: blur(10px);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E');
}
.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}

.carousel-img {
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 90%);
    mask-image: linear-gradient(to top, transparent 0%, black 16%);
    pointer-events: auto;
    z-index: 1;
}

.services-image {
    padding: 0px;
    margin: 0px;
    border-radius: 0.7vw;
    z-index:11;
}
.services-section {
    margin-top: -10%;
}
.services-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: clamp(8px, calc(3.1vw + 5px), calc(3.1vw + 5px));
    font-weight: 700;
}
.home-heading{
    z-index: 11;
}
.services-card-title {
    color: #183b56;
    font-family: "Bree Serif";
    font-size: clamp(9px, 1.3vw, 1.3vw);
    text-align: center;
    font-weight: 500;
    font-style: italic;
    margin-top: 0px;
    word-spacing: 1px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0.35vw;
    padding-right: 0px;
    padding-left: 0px;
    z-index: 999;
}
.services-item-card {
    border-radius: 1.3vw;
    position: relative;
    background: rgba(255, 255, 255, 0.92);    
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);    
    z-index: 11;
    padding: calc(0.3vw + 2px);
}
.services-card-container{
    margin-bottom: 6px;
    padding: 9px;
    z-index:11;
}
.view-gallery-container{
    margin-top: -1vw;
    padding-left: 8px;
    padding-right: 8px;
}
.view-gallery{
    color: rgb(0, 230, 230);
    font-size: 3vw;
    text-align: center;
    font-family: "Bree Serif";
}
.view-gallery-card{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.585);
    border-radius: 1.3vw;
    height: 84%;
}

.view-gallery-card:hover{
    transform: scale(1.03);
}

#carouselExampleIndicators{
    z-index: 2;
}

#section-gallery{
    background: radial-gradient(circle, rgb(255, 0, 0), #cc0000);
    height: 100%;
}

.gallery-content {
    position: relative;
    z-index: 2;
    padding-left: 7vw;
    padding-right: 7vw;

}
@media (max-width: 576px) {
    .gallery-content{
        padding-left: 30px;
    }   
}

.section-heading-container {
    padding-top: 7.5vw;
    padding-left: 5vw;
    text-align: left;
    color: white; 
    font-family: "Roboto";
}
@media (max-width: 850px) {
    .section-heading-container {
        padding-top: 11vw;
    }
}
@media (max-width: 576px) {
    .section-heading-container {
        padding-top: 13vw;
    }
}
@media (max-width: 493px) {
    .section-heading-container {
        padding-top: 15vw;
    }
}

.top-corner-img-container{
    position: fixed;
    top: 3.2vw;
    left: 0px;
    display: block;
    margin-left: -1.4vw;
    padding: 0px;
}
.bottom-corner-img-container{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    margin-right: -3vw;
}
.top-corner-img{
    width: 100%;
}
.bottom-corner-img{
    width: 100%;
}
.gallery-section-heading{
    font-size: 3vw;
    text-align: center;
}
.footer {    
    position: relative;
    background: linear-gradient(to bottom, 
            rgba(0, 0, 0, 0) 0%, /* Top 10% */
            rgba(0, 0, 0, 0.15) 20%, /* Solid until 10% */
            rgba(0, 0, 0, 0.68) 100%);
    color: white;
    z-index: 50;
    padding-left: 4vw;
}
.footer-container{
    padding-top: 1.5vw;
    padding-left: 2vw;
    padding-bottom: 3vw;
}
.footer-contents{
    margin-left: 1vw;
    margin-bottom: 1.4vw;
    font-size: calc(0.8vw + 5px);
    text-shadow: 
        0.5px 0.5px 0.45vw rgba(0, 0, 0, 0.8);
    z-index: 51;
    cursor: pointer;
}
.footer-headings{    
    font-size: calc(2.1vw + 5px);
    padding-bottom: 1vw;
}
.footer-icon{
    font-size: calc(0.8vw + 5px);
    text-shadow: 
        0.5px 0.5px 0.35vw rgba(0, 0, 0, 0.5);   
}
.footer-contents-container {
    background-color: transparent;
}
.footer-contents-container:hover{    
    transform: scale(1.03);
}
.photograher-png-card{    
    position: relative;
    z-index: 10;
    margin-top: 70%;
}
.photograher-png{
    transform: scale(2);
    z-index:10;
}
.whatsapp-float-container{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
}
.whatsapp-float-container:hover{
    transform: scale(1.1);
}
.whatsapp-text-container{
    background-color: #23be5c;
    color: white;
    width: 16.5vw;
    height: 4vw;
    position: relative;
    right: 2vw;
    bottom: 3.1vw;
    z-index: 999;    
    border-top-right-radius: 25vw;    
    border-bottom-right-radius: 25vw;
    border-top-left-radius: 25vw;    
    border-bottom-left-radius: 25vw;
    font-size: 1.7vw;
    text-align: center;
    font-weight: 600;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.4vw;
}
.whatsapp-icon-container{    
    z-index: 1000;
    position: absolute;
    font-size: 8vw;
    right: 2.5vw;
    bottom: 4vw;
    color: white;    
    border-radius: 50%;
    background-color: #25D366;  
    padding-bottom: 0.2vw;    
    padding-right: 2.1vw;
    padding-left: 2.1vw;
}
.whatsapp-text{
    padding-top: 0.2vw;
    padding-left: 0.2vw;
    padding-right: 0.3vw;
    text-shadow: 
    0px 0.5px 0.25vw rgba(0, 0, 0, 0.4);
}
.whatsapp-lg{
    font-size: 3.85vw;
    margin-top: -1.37vw;
    margin-right: -1.45vw;    
    margin-left: 0.5vw;
}
